.panel-display--hero-four-column {
  *zoom: 1;
}
.panel-display--hero-four-column:after {
  content: "";
  display: table;
  clear: both;
}
.panel-display--hero-four-column .panels-region--columns-wrapper {
  *zoom: 1;
  clear: both;
}
.panel-display--hero-four-column .panels-region--columns-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 44em) {
  .panel-display--hero-four-column .panels-region--columns-wrapper__two .panels-region,
  .panel-display--hero-four-column .panels-region--columns-wrapper__four .panels-region {
    width: 46.66667%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 6.66667%;
  }
  .panel-display--hero-four-column .panels-region--columns-wrapper__two .panels-region:last-child,
  .panel-display--hero-four-column .panels-region--columns-wrapper__four .panels-region:last-child {
    width: 46.66667%;
    clear: right;
    float: right;
    margin-right: 0;
  }
  .panel-display--hero-four-column .panels-region--columns-wrapper__three .panels-region {
    width: 31.42857%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.85714%;
  }
  .panel-display--hero-four-column .panels-region--columns-wrapper__three .panels-region:last-child {
    width: 31.42857%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  .panel-display--hero-four-column .panels-region--columns-wrapper__four .panels-region {
    width: 22.58065%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 3.22581%;
  }
  .panel-display--hero-four-column .panels-region--columns-wrapper__four .panels-region:last-child {
    width: 22.58065%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}
